* {
  margin: 0;
  font-family: Arial;
  font-weight: 100;
  overflow-x: hidden;
}

div {
  display: block;
}

.container {
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container a, .container h1, .container h2, .container h4, .container p, .container .careers, .container .citizens_bank, .container .quotes, .container .footer, .container .social-icons {
  padding: 18px;
}

.container h1 {
  margin: 0;
  font-size: 30px;
  color: #00945f;
  text-align: center;
}

.container a {
  text-decoration: none;
}

.container .header {
  height: 67px;
  text-align: center;
}

.container .header .logo img {
  padding: 20px;
}

.container .creative {
  width: 100vw;
  height: 201px;
  background-image: url("../images/smiling-lady.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container .creative .smile {
  background-color: #888888;
  width: 100%;
  height: 201px;
}

.container .green-divider {
  background-color: #00945f;
  width: 73px;
  height: 2px;
  margin: 15px auto;
}

.container .investment {
  text-align: center;
}

.container .investment .mortgage-loan {
  font-size: 18px;
  font-family: Arial;
  color: #888888;
  line-height: 1.5;
}

.container .careers {
  text-align: center;
}

.container .careers .button {
  padding: 15px 32px;
  background-color: #e97300;
  border: none;
  color: #ffffff;
  text-decoration: none;
  width: 165px;
  height: 40px;
  font-size: 24px;
}

.container .citizens_advantage .services {
  padding-bottom: 10px;
}

.container .citizens_advantage .services h2 {
  padding-bottom: 0;
  font-size: 26px;
  color: #00945f;
  line-height: 1.292;
  text-align: left;
}

.container .citizens_advantage .services p {
  color: #888888;
  line-height: 1.7;
}

.container .citizens_advantage .services .learn-more {
  color: #759b24;
  font-size: 18px;
}

.container .citizens_advantage .services .learn-more img {
  border: none;
  -o-object-position: bottom;
     object-position: bottom;
}

.container .citizens_advantage .services .grey-divider {
  padding: 10px 0;
  margin: 0 auto;
  border-width: 0.4px;
  border-color: #666666;
  border-bottom-style: solid;
  width: 283px;
  height: 1px;
}

.container .citizens_bank h4 {
  background-color: #00945f;
  color: #ffffff;
  text-align: center;
}

.container .citizens_bank p {
  background-color: #ebf7f5;
  font-size: 18px;
  color: #888888;
  line-height: 1.722;
  text-align: left;
}

.container .quotes {
  text-align: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .quotes blockquote {
  padding: 0 40px;
}

.container .quotes blockquote p {
  background: left/contain no-repeat url("../images/quote.png");
  background-size: 60px 50px;
  background-position: top 20px left;
  color: #888888;
  font-size: 15px;
  font-style: italic;
  line-height: 1.7;
}

.container .quotes blockquote figcaption {
  color: #00945f;
  font-size: 18px;
}

.container .footer .social {
  text-align: left;
  padding-right: 0;
}

.container .footer p {
  color: #666666;
  font-size: 12px;
}

.container .footer a {
  padding-left: 0;
  padding-right: 0;
  color: #000000;
  font-size: 12px;
}

/* Large Desktop */
@media (min-width: 1280px) {
  .container {
    padding: 20px;
  }
  .container .header {
    padding: 0;
    text-align: left;
  }
  .container .creative {
    width: 100vw;
    height: 450px;
    background-image: url("../images/creative-hero-img.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container .citizens_advantage .section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 5rem;
  }
  .container .citizens_advantage .section .services {
    margin: 5px 0;
    padding: 20px 0;
    border-color: #666666;
    border-right: 1px solid;
  }
  .container .citizens_advantage .section .grey-divider {
    visibility: hidden;
  }
  .container .quotes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: 1fr;
  }
  .container .quotes blockquote {
    font-size: 14px;
    background-position: top 55px left 35px;
    padding: 50px;
    line-height: 2.5;
  }
  .container .quotes blockquote figcaption {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    height: 180px;
  }
  .container .quotes blockquote .stretch {
    padding: 30px;
    vertical-align: baseline;
  }
  .container .footer .social-icons {
    padding-left: 0;
  }
  .container .footer a {
    padding-left: 18px;
  }
}
/*# sourceMappingURL=style.css.map */